.grid {
	display:grid;
	grid-template-columns: repeat(6, [col] 1fr);
	grid-template-rows: repeat(3, [row] 1fr);
	/* -gap отступ между колонками*/
	grid-gap: 10px;
	border: 1px dashed #000;
	
}
.grid-item {
background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);	
}	
.grid-item {
	min-height: 80px;

}
