body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	grid-gap: 10px;
	grid-template-columns: minmax(150px, 200px) 1fr minmax(150px, 200px);
	grid-template-areas:"header header header"
						"nav main aside"
						"footer footer footer";
}
header, nav, main, aside, footer {
background-image: linear-gradient(to top, #00008B 0%, #5F9EA0 0%);	
	color: #fff;
	font-size: 30px;
	text-shadow: 0px 2px 2px #000;
	/* min-height: 80px; */
	/* align-self: center; */
	/* justify-self: center; */
}
@media (max-width: 510px) {
	aside{
		display: none;
		}
	body{ 
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: "header header"
							"nav main" 
							"footer footer";
		}
}
@media (max-width: 500px) {
	aside{
		display: none;
		}
	body{ 
		grid-template-columns: 1fr;
		grid-template-areas: "header" "nav" "main" "footer";
							/* /* "nav" */
							/* "main" */
							/* "footer"; */
		}
}


header{grid-area: header;}
nav{grid-area: nav;}
aside{grid-area: aside;}
main{grid-area: main;}
footer{grid-area: footer;}












/* 1й Общий урок */
 /* .grid { */
	/* display:grid; */
	/* grid-template-columns: repeat(4, [col] 1fr); */
	/* grid-template-rows: repeat(4, [row] 1fr); */
	/* -gap отступ между колонками */
	/* grid-gap: 10px; */
	/* border: 1px dashed #000; */
	/* align-content: stretch; */
	/* justify-content: spread-around; */
	/* grid-auto-flow:	column; */
	/* height: 100vh; */
	
/* } */
/* .grid-item { */
/* background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);	 */
	/* color: #fff; */
	/* text-shadow: 0px 2px 2px #000; */
	/* min-height: 80px; */
	/* align-self: center; */
	/* justify-self: center; */

/* }  */
/* .grid-item1 { */
	/* grid-column: col 1 / span 2; */
	/* grid-row: row 1;	 */
/* } */
/* .grid-item2 { */
	/* grid-column: col 3 / span 2; */
	/* grid-row: row 1 / span 2; */
/* } */
/* .grid-item3 { */
	/* grid-column: col 5; */
	/* grid-row: row 1 / span 2; */
/* } */
/* .grid-item4 { */
	/* grid-column: col 6; */
	/* grid-row: row 1; */
/* } */
/* .grid-item5 { */
	/* grid-column: col 1; */
	/* grid-row: row 2; */
/* } */
/* .grid-item6 { */
	/* grid-column: col 2; */
	/* grid-row: row 2; */
/* } */
/* .grid-item7 { */
	/* grid-column: col 6; */
	/* grid-row: row 2; */
/* } */
/* .grid-item8 { */
	/* grid-column: col 1; */
	/* grid-row: row 3; */
/* } */
/* .grid-item9 { */
	/* grid-column: col 2 / span 2; */
	/* grid-row: row 3; */
/* } */
/* .grid-item10 { */
	/* grid-column: col 4 / span 2; */
	/* grid-row: row 3; */
/* } */
/* .grid-item11 { */
	/* grid-column: col 6; */
	/* grid-row: row 3; */
/* } */
